.App{
    text-align: center;
    font-size: 30px;
}
.image1{
    z-index: -1;
    top:0;
    position: relative;
}
.image2{
    z-index: -1;
    top:0;
    position: relative;
}

.nav{
    position: absolute;
    z-index: 1;
    top:30px;
}